---
layout: default
title: Orchestral Colour
---

<div class="player vertical">
    <a href="#" class="control"></a><br />
    <a class="credit" id="title" href="#"></a>
    <a class="credit" id="alias" href="#"></a>

    {% for faces in site.data.grids['Default'] %}
        {% for face in faces %}
            {% assign release = site.data.releases[face] %}
            {% for track in release.tracks %}
                {% include audio.html %}
            {% endfor %}
        {% endfor %}
    {% endfor %}
</div>
{% assign grid_key='Default' %}{% include grid.html %}

<script type="text/javascript">
    $(function() {
        var tracks = $('.player audio');
        var track = tracks[getRandomInt(0, tracks.length - 1)];

        var title = $(track).data('title');
        var aliases = $(track).data('aliases');

        updateDisplay(vClean(title), vClean(aliases[0]), $(track).data('url'));
        Player.play(track);

        $('.player .control').click(function(event) {
            event.preventDefault();
            if (track.paused == false) {
                Player.pause(track);
            } else {
                Player.play(track);
            }
        });
    });
</script>