{% for release_key in site.data.grids[grid_key] %}
    {% assign release = site.data.releases[release_key] %}
    {% cycle '<div class="row">', '', '', '', '', '' %}

        {% capture feature %}{% cycle 'left-eye', 'right-eye', 'mouth' %}{% endcapture %}

        {% if feature == 'left-eye' %}
        <div class="face-box span6">
            <div class="face angry">
                <img class="outline" src="/assets/img/face_angry{% cycle '3', '1', '2' %}.png" />

                <a class="feature left-eye" style="width:100px;height:100px;" href="{{ release.url }}">
                <img class="feature left-eye" src="/assets/img/100x100_{{ release.cover }}" /></a>
        {% elsif feature == 'right-eye' %}

                <a class="feature right-eye" style="width:96px;height:96px;" href="{{ release.url }}">
                <img class="feature right-eye" src="/assets/img/100x100_{{ release.cover }}" /></a>
        {% elsif feature == 'mouth' %}

                <a class="feature mouth" style="width:75px;height:75px;" href="{{ release.url }}">
                <img class="feature mouth" src="/assets/img/100x100_{{ release.cover }}" /></a>
            </div>
        </div>
        {% endif %}
    {% cycle '', '', '', '', '', '</div>' %}
{% endfor %}